// $ed_bg: #4a4a4a;
// $ed_border: #333;
// $ed_gray_dark: #222;
// $ed_gray_medium: #3e3e3e;

$theme-white: #e8e8e8;
$theme-blue-light: #00b7ff;
$theme-blue-dark: #006b8c;
$theme-black-light: #282828;
$theme-black-medium: #191919;
$theme-black-dark: #070707;
$theme-red: #b52626;

$theme-font-title: "Miriam Libre", "Segoe UI", sans-serif, monospace;
$theme-font-button: "Miriam Libre", "Segoe UI", sans-serif, monospace;
$theme-font-subtitle: "Montserrat";
$theme-font-paragraph: "Ubuntu", sans-serif;

$world-bg-default: #09c4e8;